body {
  font-family: 'Shanti', Helvetica, Arial, sans-serif;
  background-color: #282C34;
  color: #9DA5B0;
}

h2 {
  color: #D7DAE0;
}

h3 {
  display: inline;
  margin-left: 10px;
  position: relative;
  bottom: 10px;
  color: #FCC21B;
}

#propic {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.hidden-project {
  display: none;
}

.codepen-project {
  margin: 0 auto;
}
